.monster-card {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px #000;
}
.hp {
    font-size: 14px;
    margin-right: 10px;
}
.monster-card:hover {
    transition: .2s;
    transform: scale(1.2);
    cursor: pointer;
}