.intro-scene {
    font-size: 18px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: #800 groove 10px;
    background-image: linear-gradient( #9e6019, #5a3217);
    padding: 10px;
}
.start-btn {
    border: groove #800 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    transition: .5s;
}
.start-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}